// bower:scss
// endbower


// general

body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

// header

.header-container {
  border-bottom: 1px solid black;

  h1 {
    margin-left: 50px;
  }
}

// Main Container

.main-container {
  width: 100%;

  .sidebar {
    width: 25%;
    height: 600px;
    margin-top: 80px;
    margin-left: 40px;
    float: left;
    border: 1px solid black;

    ul {
      margin-top: 50px;
    }

    li {
      list-style: none;
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .main-contents {
    width: 65%;
    margin-top: 80px;
    margin-right: 40px;
    float: right;
    border: 1px solid black;

    h1 {
      margin: 40px 0 20px 80px;
      font-size: 40px;
    }

    h2 {
      margin: 40px 0 0 80px;    
    }

    p {
      margin: 80px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//Footer

.footer-container {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
  border-top: 1px solid black;

  h2 {
    margin-left: 50px;
  }
}
